
.main {
  flex-grow: 1;
  order: 2;

  @media (min-width: $lg + 1) {
    flex: 0 0 calc(100% - #{$left-sidebar-width} - #{$right-sidebar-width});

    padding-right: $gap;
    padding-left: $gap;
  }

  @media (max-width: $lg) and (min-width: $md + 1) {
    flex: 0 0 calc(100% - #{$left-sidebar-width});

    padding-right: 0;
    padding-left: $gap;
  }

  @media (max-width: $md) {
    order: 1;
  }
}

.main-breadcrumb {
  width: 100%;
  margin-bottom: $gap;
  padding: 8px 12px;

  text-align: right;
  letter-spacing: 2px;

  border-radius: 7px;
  background: linear-gradient(to right, rgba($color-dark, 0) 0%, rgba($color-dark, 0.8) 100%);

  a {
    font-weight: bold;
    &:hover {
      @include text-shadow;
    }
  }

  span {
    position: relative;

    margin-right: 7px;

    color: $color-gray;
  }

  i {
    color: $color-gray;

    font-weight: bold;
  }
}

.main-content {
  &__title {
    margin: $gap 0;
    padding: 8px 12px;

    letter-spacing: 3px;

    color: $color-light;
    border-radius: 7px;
    background: linear-gradient(to right, rgba($color-dark, 0.8) 0%, rgba($color-dark, 0.5) 90%, rgba($color-dark, 0) 100%);

    font-family: $font-header;
    font-weight: 300;
    line-height: 1.5em;

    @media (min-width: $sm + 1) {
      font-size: 2rem;
    }

    @media (max-width: $sm) {
      font-size: 1.5rem;
    }
  }

  &__body {
    display: flex;

    margin-top: -$gap / 4;
    margin-right: -$gap / 4;
    margin-bottom: $gap - $gap / 4;
    margin-left: -$gap / 4;

    flex-wrap: wrap;
  }
}

.main-content-item {
  padding: $gap / 4;

  @media (min-width: $sm + 1) {
    flex: 0 0 33.3333%;
  }

  @media (max-width: $sm) and (min-width: $xx + 1) {
    flex: 0 0 50%;
  }

  @media (max-width: $xx) {
    flex: 0 0 100%;
  }

  &:hover {
    .main-content-item__excerpt {
      top: 30px;

      color: $color-light;

      @include bg-color(0.75);
    }

    h3 {
      color: $color-accent;

      @include bg-color(0.75);
      @include text-shadow;
    }
  }

  &__title {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 30px;
    margin: 0;
    padding: 7px;

    transition: background-color 0.5s;
    text-align: center;
    letter-spacing: 1px;

    color: $color-light;
    background-color: rgba($color-dark, 0.5);
    text-shadow: 0 0 5px $color-dark;

    font-size: 14px;
    font-weight: 300;
    line-height: 1em;

    @include text-shortener;
  }

  &__wrapper {
    position: relative;

    overflow: hidden;

    border: 5px solid rgba($color-dark, 0.5);
    border-radius: 7px;
  }

  &__excerpt {
    position: absolute;
    top: 210%;
    left: 0;

    width: 100%;
    height: calc(100% - 27px);
    margin: 0;
    padding: 15px;

    transition: top 0.5s ease-out, background-color 0.5s ease-out;
    text-align: center;
  }
}
