
.left {
  @media (min-width: $md + 1) {
    flex: 0 0 $left-sidebar-width;

    margin-bottom: $gap / 2;

    order: 1;
  }

  @media (max-width: $md) and (min-width: $xs + 1) {
    width: 50%;
    padding-right: $gap / 4;

    order: 2;
  }

  @media (max-width: $xs) {
    width: 100%;
    margin-bottom: 0;

    order: 2;
  }
}
